:root {
  --lighter: #92b06c;
  --light: #6f8d48;
  --mid: #52702b;
  --dark: #3b5716;
  --darker: #223805;
  --font-dark: #2d2d2d;
}
/* Overlay V2 */
html {
  margin: 0;
  background: #6597d1;
  color: var(--lighter);
}
body {
  color: #5d5d5d;
  font-family: "IM Fell English", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  width: 100%;
  margin: 0;
  position: relative;
  overflow: hidden;
  /* background: url("/public/brass-bg-lg.png"); replace - waves */
}
h1 {
  font-size: 30px;
  margin: auto;
  margin-top: 10px;
}
.map-signage-front {
  position: absolute;
  z-index: 300;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--font-dark);
  pointer-events: none;
}
.centre-title {
  align-self: start;
  margin: 0 auto;
  padding: 5px 40px;
  border: 1px solid black;
  background: url("/public/parchment-bg.png");
  background-color: rgb(138, 116, 75);
}
.map-info-mid {
  position: relative;
  z-index: 200;
  width: 100%;
  display: flex;
}
/* End - Overlay V2 */

.container {
  max-width: 800px;
  margin: auto;
}
.map-flex {
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  border-left: 6px solid var(--dark);
  border-right: 6px solid var(--dark);
}
.title-wrap {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  font-size: 30px;
  font-weight: bold;
  padding: 0 30px;
  border-left: 8px groove var(--dark);
  border-right: 8px groove var(--dark);
  color: black;
}
.map-section {
  flex-basis: 60%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.map-info {
  flex: 0 1 300px;
}
.map-sidebar {
  max-width: 100px;
  border-left: 1px solid var(--mid);
  background: var(--lighter);
}
/* Specific mapael css class are below
* 'mapael' class is added by plugin
*/

.mapael .map {
  position: relative;
  cursor: pointer;
}
.mapael .map > svg {
  height: 100vh;
}
.mapcontainer {
  flex: 1 1 100%;
  min-height: 100%;
  max-height: 100vh;
  position: relative;
}
[data-type="area"] {
  stroke-width: 0.3;
}
image.terrainlines,
image.terrain {
  pointer-events: none;
}
image.terrain {
  x: 5 !important;
  y: 11 !important;
}
#maproot.hideforts image.terrainlines,
#maproot.hideforts image.terrain,
#maproot.hideforts image.fort {
  display: none;
}

/* For all zoom buttons */
.mapael .zoomButton {
  background-color: var(--light);
  border: none;
  color: #000;
  width: 18px;
  height: 18px;
  line-height: 21px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 10px;

  -webkit-transition: background-color 0.3 ease-in-out;
  -ms-transition: background-color 0.3 ease-in-out;
  transition: background-color 0.3 ease-in-out;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.mapael .zoomButton:hover {
  background-color: var(--mid);
}

/* Reset Zoom button first */
.mapael .zoomReset {
  top: 10px;
}

/* Then Zoom In button */
.mapael .zoomIn {
  top: 34px;
}

/* Then Zoom Out button */
.mapael .zoomOut {
  top: 58px;
}

.mapael .mapTooltip {
  position: absolute;
  background: url("/public/tooltip-sm.png");
  moz-opacity: 0.85;
  opacity: 0.85;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  display: none;
  height: 144px;
  width: 158px;
  color: black;
  font-size: 18px;
}
.mapael .mapTooltip div {
  margin-top: 4px;
  font-size: 15.5px;
}
.mapael image[data-type="plot"].group,
.mapael text[data-type="plot-text"] {
  pointer-events: none;
}

.hidden {
  display: none;
}
/* sidebar */
.info-wrap {
  flex-basis: 40%;
  background: url("/public/parchment-bg.png");
  background-color: burlywood;
  padding: 60px 30px 10px;
  color: black;
  border: 10px var(--mid) double;
  /* margin-right: 120px; */
}
.info-scroll {
  overflow-y: scroll;
  height: 100vh;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.info-scroll::-webkit-scrollbar {
  display: none;
}
.bar-bg {
  height: 4px;
  background: var(--dark);
}
.seperator {
  height: 2px;
  background: var(--mid);
  margin: 10px 0;
}
.seperator-thin {
  height: 1px;
  background: var(--mid);
  margin: 5px 0;
}
.topic[data-show="false"] {
  height: 58px;
  overflow: hidden;
}
.topic-title-row {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}
.faction-list {
  list-style-type: none;
  padding-inline-start: 0;
  padding: 0 10px;
  display: flex;
  flex-wrap: wrap;
}
.faction-list > li {
  flex: 0 1 46%;
  padding: 0 2%;
}
.faction-list img {
  max-width: 120px;
  max-height: 100px;
  margin-right: 20px;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.onclick {
  cursor: pointer;
}
.breadcrumb span,
.breadcrumb a {
  margin-right: 4px;
}
.breadcrumb a {
  cursor: pointer;
  color: #2f3d3a;
  transition: color 0.3s ease-in-out;
}
.breadcrumb a:hover {
  color: #000000;
}
img.sidebar-logo {
  max-width: 40%;
  max-height: 220px;
  margin-left: 40px;
  margin-bottom: 12px;
}
/* Spinner */
.spinner {
  width: 40px;
  height: 40px;
  margin: 100px auto;
  background-color: #333;

  border-radius: 100%;
  -webkit-animation: sk-scaleout 1s infinite ease-in-out;
  animation: sk-scaleout 1s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
